@model IEnumerable<ContosoUniversity.Models.Soutenance>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Soutenances</h1>

<p>
    <a asp-action="Create">Planifier une soutenance</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salle)
            </th>
            <th>@Html.DisplayNameFor(model => model.Etat)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {


            @if (item.Etat==0)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Jour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HeureDebut)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HeureFin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salle)
                    </td>
                    <td>
                        Pas encore noté
                    </td>
                    <td>

                        <a asp-action="Edit" asp-route-id="@item.SoutenanceID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.SoutenanceID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.SoutenanceID">Delete</a>
                    </td>
                </tr>
            }
           
        }
    </tbody>
</table>

<h2>Soutenances effectuées</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salle)
            </th>
            <th>@Html.DisplayNameFor(model => model.Etat)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {


            @if (item.Etat ==1)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Jour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HeureDebut)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HeureFin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Etat)
                    </td>
                    <td>

                        <a asp-action="Noter" asp-route-id="@item.SoutenanceID">Ajouter une Note</a> |
                        <a asp-action="Details" asp-route-id="@item.SoutenanceID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.SoutenanceID">Delete</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
